@import 'tailwindcss';


/* Custom Dark Mode Theme */
:root {
  --primary-color: #8f43ee;
  /* Violet Accent */
  /* --primary-color: #22c55e;  Green Accent */
  --background-color: #121212;
  --text-color: #e5e7eb;
  --card-bg: #1e1e1e;
  --border-color: #2d2d2d;
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif;
}

.card {
  background-color: var(--card-bg);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-color);
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: all 0.2s;
  background-color: var(--primary-color);
  color: white;
}

.button:hover {
  filter: brightness(1.1);
}

.button:active {
  transform: scale(0.95);
}

.input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  background-color: var(--card-bg);
  color: white;
}

.link {
  color: var(--primary-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}